<body>
<div class="row">
  <h2 style="text-align: center; margin-top: 20px; margin-bottom: 20px">Customer management</h2>
</div>
<div class="container">
    <table class="table">
      <thead>
      <tr>
        <th>STT</th>
        <th>Customer Type</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>IdCard</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers; index as i">
        <td>{{i + 1}}</td>
        <td>{{customer.customerType.name}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.birthday}}</td>
        <td>{{customer.gender}}</td>
        <td>{{customer.idCard}}</td>
        <td>{{customer.phoneNumber}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.address}}</td>
        <td><a [routerLink]="['/customer-edit']" role="button" class="btn btn-warning">Edit</a></td>
        <td><app-delete></app-delete></td>
      </tr>
      </tbody>
    </table>
  </div>
<div>
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
