<div class="container">
  <form [formGroup]="contractForm" (ngSubmit)="submit()" *ngIf="contractForm">
    <input type="hidden" />
    <div class="mb-3" style="margin-top: 10px">
      <div class="mb-3">
        <label class="form-label">ID Contract</label>
        <input type="text" class="form-control" name="idContract" formControlName="idContract"/>
      </div>
      <div class="mb-3">
        <label class="form-label">Facility</label>
        <select  class="form-control" name="facility" formControlName="facility">
          <option *ngFor="let item of facilities" [ngValue]="item">{{item.name}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">Customer</label>
        <select  class="form-control" name="customer" formControlName="customer">
          <option *ngFor="let item of customers" [ngValue]="item">{{item.name}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label">StartDate</label>
        <input type="date" class="form-control" name="startDate" formControlName="startDate"/>
      </div>
      <div class="mb-3">
        <label class="form-label">EndDate</label>
        <input type="date" class="form-control" name="endDate" formControlName="endDate"/>
      </div>
      <div class="mb-3">
        <label class="form-label">Deposit</label>
        <input type="number" name="deposit" formControlName="deposit" class="form-control"/>
        <p style="color: red" *ngIf="contractForm.controls.deposit.hasError('pattern')">Deposit phai lon hon 0</p>
      </div>
      <div class="mb-3">
        <label class="form-label">Address</label>
        <input type="text" name="address" formControlName="address" class="form-control"/>
      </div>
      <input type="submit" class="btn btn-primary" [disabled]="!contractForm.valid" value="Save"/>
    </div>
  </form>
</div>
