<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="container">

  <form th:action="@{/facility/update}" th:object="${facility}"
        method="POST" novalidate="novalidate">
    <input type="hidden" th:field="*{id}"/>
    <div class="mb-3" style="margin-top: 10px">
      <label class="form-label">Name</label>
      <input type="text" th:field="*{name}" class="form-control"/>
    </div>
    <div class="mb-3">
      <label class="form-label">Area</label>
      <input type="number" th:field="*{area}" class="form-control"/>
    </div>
    <div class="mb-3">
      <label class="form-label">Cost</label>
      <input type="number" th:field="*{cost}" class="form-control"/>
    </div>
    <div class="mb-3">
      <label class="form-label">Max People</label>
      <input type="number" th:field="*{maxPeople}" class="form-control"/>
    </div>
    <div class="mb-3">
      <label class="form-label">Rent Type</label>
      <!--            <input type="text" th:field="*{customerType}"/>-->
      <select th:field="*{rentType}" class="form-control">
        <option th:each="item : ${rentType}" th:value="${item.id}" th:text="${item.name}" ></option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Facility Type</label>
      <!--            <input type="text" th:field="*{customerType}"/>-->
      <select th:field="*{facilityType}" class="form-control">
        <option th:each="item : ${facilityType}" th:value="${item.id}" th:text="${item.name}" ></option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">Standard Room</label>
      <input type="text" th:field="*{standardRoom}" class="form-control"/>
    </div>
    <div class="mb-3">
      <label class="form-label">Convenience</label>
      <input type="text" th:field="*{convenience}" class="form-control"/>
    </div>
    <div class="mb-3">
      <label class="form-label">Pool Area</label>
      <input type="number" th:field="*{poolArea}" class="form-control"/>
    </div>
    <div class="mb-3">
      <label class="form-label">Free</label>
      <input type="text" th:field="*{free}" class="form-control"/>
    </div>
    <div class="mb-3" >
    <input type="submit" class="btn btn-warning" value="Edit"/>
      <a style="margin-left: 20px" class="btn btn-primary" role="button" [routerLink]="['/facility']" >Back to facility</a>
    </div>

  </form>
</div>
<footer th:replace="/layout :: footer">
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
